.margem-top{
    margin-top: 8rem;
}


.btn{
    border-radius: 50px;
}

.btn i{
    margin-right: 5px;
    color: #f8fafc;
}

#filter label{
    padding-left: 83px;
    color: #1C1C1C;
}

/*.form-select{
    border-color:#1C1C1C;
    color:#1C1C1C;
    border-color: #08088A;
    background-color: white;

}*/

.icon-form{
    font-size: 30px;
    display: block;
    margin-top: -50px;
    margin-left: 15px;
    color:#08088A;
}


.col-btn{
    display: flex;
    justify-content: end;
}

.info-footer .icon-color{
    color: #7c9dfd !important;
}

.accordion{
    width: 99%;
    border:none;
}

.genericAcc .cabecalho-acc{
    /*background-color: #08088A;
    color: #F2F2F2;
    border-radius: 50px;*/

    width: 100%;
    display: flex;
    align-items: center;
    padding: .6rem;
}

.cabecalho-acc h4{
    margin-left: 20px;
}

.cabecalho-acc h6{
    margin-left: 20px;
    color: #08088A;
}

.accordion-body{
    background-color: #7c9dfd;

}

.accordion-item{
    border-radius: 5px;
    border: none;
    padding: 0 !important;
}

.accordion .list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #08088A;
    border-radius: 0px !important

}

.list-group-item h5{
    color: #f8fafc;
}
.accordion .list-group{
    width: 100%;
    border-radius: 0px !important;
}

.accordion .mYBtn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.mr{
    margin-right: 20px;
}

.accordion-button {
    background-color: #7c9dfd;
    color: #08088A;;
}

#icon-location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #08088A;
    font-size: 16px;
    color: #7c9dfd;
    margin-right: .5rem;
}


#icon-location_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#icon-location_2 i{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #7c9dfd;
    font-size: 16px;
    color: #08088A;
    margin-right: .4rem;

}
