.button-component{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: auto;
    background: #001962;
    box-shadow: 0 0 6px 4px #E0E0F8;
    color: #f8fafc;
    border-radius: 100px;
    color: 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    padding: .9rem;
    border: none;
}

.button-component i{
    color: #f8fafc !important;
}

.button-component:hover{
    border-radius: 100px;
    background-color: #08088A;
    color: #f8fafc;
}

a{
    text-decoration: none;
}

samp{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.3rem;
    margin-right: .5rem;
}



