.margem-top{
    margin-top: 80px;
}

.coordenacao{
    border-radius: 20px;
    background: #08088A;
    /*box-shadow: 0px 0px 6px 0px;*/
    border: 1px solid #F2F2F2;
    color: white
}

.coordenacao .cabecalho-card{
    display: flex;
    align-items: center;
    height: 70px;
}

.cabecalho-card h3{
    margin-left: 20px;
}

.info-coordenacao{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
}

.info-coordenacao span{
    margin-right: 50px;
}

.info-coordenacao i{
    font-size: 16px;
    font-weight: bolder;
    color: #7c9dfd;
}

.btn{
    border-radius: 50px;
}

.btn i{
    margin-right: 5px;
    color: #f8fafc;
}

#filter label{
    padding-left: 83px;
    color: #1C1C1C;
}

.form-select{
    padding-left: 60px;
    border-color:#1C1C1C;
    color:#1C1C1C;
    border-color: #08088A;
    background-color: white;

}

.icon-form{
    font-size: 30px;
    display: block;
    margin-top: -50px;
    margin-left: 15px;
    color:#08088A;
}
