
#filter label{
    padding-left: 83px;
    color: #1C1C1C;
}

.form-select{
    padding-left: 60px;
    border-color:#1C1C1C;
    color:#1C1C1C;
    border-color: #08088A;
    background-color: white;

}

.icon-form{
    font-size: 30px;
    display: block;
    margin-top: -50px;
    margin-left: 15px;
    color:#08088A;
}
