#content-cover{
    margin-top: -150px;
    margin-bottom: 150px;
    color: #f8fafc;
}


.coordenacao{
    border-radius: 20px;
    background: #0101DF;
    color: #f8fafc;
    border: 1px solid #E6E6E6;
    box-shadow: 0 0 10px 6px #E6E6E6
}


.info-coordenacao{
   display: flex;
   align-items: center;
}

.info-coordenacao span{
    margin-right: 50px;
}

.info-coordenacao i{
    font-size: 16px;
    color: #7c9dfd;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.cards .col-md-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 150px;
    background: #0B0B3B;
    box-shadow: 0 0 6px 4px #E0E0F8;
    color: #f8fafc;
    border-radius: 100%;
    padding: 15px;
}

.menu-card:hover{
    border-radius: 100%;
    background-color: #0B0B61;
    color: #f8fafc;
}


.cards i{
    font-size: 40px;
}

.cards button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

/*#Logo-menu img{
    display: block;
    height: 100px;
    width: auto;
    background-color: #0101DF;
    border-radius: 100px;
    margin-top: -70px;
    margin-left: 40%;
}*/

#forgetPassword{
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
}

#rememberMe{
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}

.avatar{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin-right: 15px;
}

a{
    color:  #0431B4;
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
}

.list-group-item.active {
    color: #E0E0F8;
}
/*.btn-entrar{
    background-color: #0431B4;
    border-radius: 50Px;
    border: #0431B4;
}

.btn-entrar:hover{
    background-color: #042a9c;
    border-radius: 50Px;
    border: #042a9c;
}*/

.info-footer .icon-color{
    color: #7c9dfd !important;
}
