
.margem-top{
    margin-top: 80px;
}

.membro{
    border-radius: 20px;
    background: linear-gradient(#042a9c, #001450);
    box-shadow: 0px 0px 6px 0px;
    color: white;
}

.membro .cabecalho-card{
    display: flex;
    align-items: center;
    height: 70px;
}

.cabecalho-card h6{
    color: #7c9dfd;
}

.avatar{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin-right: 15px;
}

.info-membro{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
}

.info-membro span{
    margin-right: 50px;
}

.info-membro i{
    font-size: 16px;
    color: #7c9dfd;
}

.btn{
    border-radius: 50px;
}

.btn i{
    margin-right: 5px;
    color: white;
}

#filter label{
    padding-left: 83px;
    color: #001962;
}

.form-select{
    padding-left: 60px;
    border-color: #001962;
    color: #001962;
}

.icon-form{
    font-size: 30px;
    display: block;
    margin-top: -50px;
    margin-left: 15px;
    color: #001962;
}
