
.modal-content{
    position: fixed;
    max-height: 600px;
    width: 1000px;
    overflow-y: auto;
    margin-top: 70px;
    margin-left: -200px;
}

.modal-header{
    background: #648bff;
    background: #08088A;
    color: white;
}

.modal-footer{
    background: #E6E6E6;
    color: white;
}

.btn-principal{
    background-color: #001962;
    color: white;
    border-radius: 100px;
    border-color: #001962;
    transition: .5s;
}

.btn-principal:hover{
    background-color: #002184;
    color: white;
    border-radius: 100px;
    border-color: #001450;
}

.btn-secondario{
    background-color: #2E2E2E;
    color: white;
    border-radius: 100px;
    border-color: #000000;
    transition: .5s;
}

.btn-secondario:hover{
    background-color: #2E2E2E;
    color: white;
    border-radius: 100px;
    border-color: #000000;
}

.btn-danger{
    border-radius: 100px;
}

span i{
    position: absolute;
    color: #002490;
    margin-top: -1.9rem;
    margin-left: 10px;
    font-size: 18px;
}

input, select{
    padding-left: 40px;
    color: #08088A;
}

.btn-close {

    color: #ffffff !important;
}




