
.tableHeader
{
    background-color: #08088A;
    color: white;
    border-color:#7c9cfd86;
}

.tableHeader tr{
    align-items: center;
    text-align: center;
}

element.style {
    background-color: #01df800f;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: #7c9cfd5f;
    color:#08088A;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
    --bs-table-accent-bg: #0000ff15;
    color:  #08088A;
}

.btn-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08088A;
    color: white;
    height: 40px;
    width: 40px;
    border: none;
    box-shadow: 0 0 0.5rem 0.3rem #7c9cfd3e;
    border-radius: 100px;
    transition: 0.2s ease-in;
}

.btn-add:hover{
    background-color: #0101DF;
    box-shadow: 0 0 0.3rem 0.3rem #7c9cfd12;
}

.col-float-right .btn-add{
    display: flex;
    margin-left: auto;
}

tbody{
    justify-content: center;
    align-items: center;
    font-weight: 400;
    border-color:#7c9cfd86;
}


tbody i{
    cursor: pointer;
    margin: 0.3rem;
    font-size: 20px;
}

td{
    align-items: center;
}
.item-img{
    height: 25px;
    width: 25px;
    border-radius: 100px;
}


.view{
    color: #0101DF;
}

.edit{ color: #03aa00;}

.delete{ color: red }
